<div class="view-whatsnext" >
  
  <div class="row content">
    <!-- Main Panel -->
    <div class="col-md-12">
        <div class="panel panel-default" style="height:100%;">
            <!-- Panel Body -->
            <div class="panel-body">
               <h2>PokemonGo is awesome.  You are awesome.  Let's be awesome together.</h2>
              <p>
                <br>
                The whole point of this site is helping the community by the community.  With that said, you should be in charge of what Pokespawn.com is!  
              </p>
              <p>
                With that said and thanks to awesome feedback / requests from our <a href="https://www.reddit.com/r/pokemongo/comments/4tifvh/introducing_pokespawncom_see_crowdsourced_spawn/">REDDIT Post </a> and our <a href="https://www.facebook.com/photo.php?fbid=10154014828291284&set=a.489161511283.265305.609616283&type=3&theater&notif_t=like&notif_id=1468887135790969"> Facebook Post </a>, I'm putting up a list of features that have been requested that will be next in line.
              </p>
              <p>
                <ul>
                  <li>Allow users to be notified if a pokemon spawns near them **coming soon**</li>
                  <li>Refine & filter day/night postings so users can see what time a pokemon spawns</li>
                  <li>Pull Instagram Posts (right now Instagram posts that post to Twitter will be taken)</li>
                  <li>Pull *every* #pokespawn tweet.  Twitter limits this a little, but we have a solution</li>
                  <li>Filter by Weather (maybe)</li>
                </ul>
              </p>
          </div> <!-- End Panel Body -->
          
        </div> <!-- End Panel -->

    </div> <!-- End Col 12 -->
  </div>
  <debug-state ng-if="false"></debug-state>
    <!-- <pack-chart-channels data-data="data" ng-if="displayState.packChartChannels"></pack-chart-channels> -->
  
  <footer class="footer">
    <p class="container">
      ©2016 <a href="http://twitter.com/jedihacks">@jedihacks</a>, Cofounder @ <a href="http://webjunto.com">Webjunto.com</a>
    </p>
  </footer>

</div>