<div class="view-catchingpokemon" >
  
  <div class="row content">
    <!-- Main Panel -->
    <div class="col-md-12">
        <div class="panel panel-default" style="height:100%;">
            <!-- Panel Title -->
            <div class="panel-heading">
                <h2 class="panel-title text-center">Tips on Catching Pokemon in PokemonGo <span class="glyphicon glyphicon-map-marker"></span></h2>
            </div>
            <!-- Panel Body -->
            <div class="panel-body">
              <img src="http://blogs-images.forbes.com/insertcoin/files/2016/07/pokemon-nearby-2.jpg" class="pull-left" style="width:448px;height:450px;margin-right:5px;">
               <h2>Tip #1:  <i>How do I find Pokemon Near Me?</i></h2>
              <p>
                
                <br>
                We get this question a lot!   It's simple.  Tap on the "Nearby" Pokemon in the bottom right corner of your screen and take a look at the visual representation.  One footprint is close, 3 is far.  
              </p>
              <p>
                Self explanatory right?  WRONG.  There's a trick here - the pokemon are listed in order.  Pick any direction (North, South, East, West) and start walking.  If the pokemon you want gets further down the list, turn around!  If it get's closer, keep going.
              </p>
              <p>
                Bug Note:  There's a known issue with this feature, and Forbes has a nice article on it <a href="http://www.forbes.com/sites/insertcoin/2016/07/17/its-not-just-you-pokemon-go-tracking-has-been-badly-broken-for-days/#799a629a5782">See bug here</a> 
                
              </p>
          </div> <!-- End Panel Body -->
           <!-- Panel Body -->
            <div class="panel-body">
              <img src="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/c/c2/Zx1.jpg/468px-Zx1.jpg" class="pull-right" style="width:448px;height:450px;margin-right:5px;">
               <h2>Tip #2:  <i>How do I catch rare pokemon?</i></h2>
              <p>
                
                <br>
                Alright, there's a couple things you need to be aware of...
              </p>
              <p>
                1.  Rasberries.   They are an item you get from Pokestops that you can use DURING the combat with a wild pokemon.  If you use it, your NEXT throw will have a higher chance of success.  If you miss though, you will have to re-use another rasberry as the effect diminishes!
              </p>
              <p>
                2.  The Circles.  The circle that surrounds a pokemon designates how hard it is for you to catch.  Green is easy.  Yellow is medium.  Red hints are harder.  PAY ATTENTIO TO THE CIRCLE SIZE!  The smaller the circle and the closer to the center, the better your odds at getting the pokemon!   Plus, you'll get a small XP Bonus for a great or nice shot.
                <br><br>

                If you use a Rasberry on a red pokemon it MAY not catch; however there is a 3rd trick that can be combined with the above 2.
              </p>
              <p>
                
                3.  The Curveball.   Or the Curve Pokeball.   This is the 'skill-shot' in pokemon.  Take your finger and hold down on the pokeball.  Start swirling your finger (very fast) in a small circular pattern.
                <br><br>
                No, I am not messing with you.
                <br><br>
                <img src="https://shopsmart.xyz/shopping-guide/wp-content/uploads/2016/07/pokemongo1.jpg" class="pull-left" style="width:300px;height:300px;margin-right:5px;">
                Once you get it spinning fast enough it will start to show stars.  That's a curve ball!  Release it and throw up simultaneously trying to hit the pokemon like normal.   If you hit it, you'll have a higher chance of success.  If you do a Curveball AND a Great Shot (in the center), you'll have even better.
              </p>
              <p>
                <b><i>Note:  If you use a combination of Rasberry, Great Shot, and Curveball on the SAME throw, I believe you are almost guaranteed to get the pokemon.  I have never had a pokemon escape with all 3</i></b>
              </p>
              
              <br><br><h2><i>More PokemonGo tips to follow!</i></h2>
          </div> <!-- End Panel Body -->
        </div> <!-- End Panel -->

    </div> <!-- End Col 12 -->
  </div>
  <debug-state ng-if="false"></debug-state>
    <!-- <pack-chart-channels data-data="data" ng-if="displayState.packChartChannels"></pack-chart-channels> -->
  
  <footer class="footer">
    <p class="container">
      ©2016 <a href="http://twitter.com/jedihacks">@jedihacks</a>, Cofounder @ <a href="http://webjunto.com">Webjunto.com</a>
    </p>
  </footer>

</div>