<div class="view-main" style="width:100%;">
  
  <!-- <div class="panel panel-default">
    <div class="panel-body">
        <div class="title pull-left">Pokemon Live Spawn Points... {{data.count}} tweet{{data.count > 1 ? 's' : ''}} captured</div>
      
       
    </div>
  </div> -->

  <div class="row content">
    <!-- Google Map -->
    <div class="col-md-10">
        <div id="map" style="width:100%;height:500px;"><img src="holder.js/645x645"></div>
    </div>
    <div class="col-md-2">
      <h2 id="infos">PokeSpawn</h2>
      <p>We have to find them all, so let's crowd source the effort! </p>
      
      <p>
        We pull tweets from around the world with the name of the pokemon, or hashtag #pokespawn<br> 
      </p>
      <p class="twitter-button-wrapper">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://pokespawn.com" data-text="Track your Pokemon at PokeSpawn!" data-via="jedihacks" data-size="large" data-count="none">Share this site!</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </p>
    </div>
  </div>
  <debug-state ng-if="false"></debug-state>
    <!-- <pack-chart-channels data-data="data" ng-if="displayState.packChartChannels"></pack-chart-channels> -->
  
  <footer class="footer">
    <p class="container">
      ©2016 <a href="www.twitter.com/jedihacks">@jedihacks</a>, Cofounder @ <a href="www.webjunto.com">Webjunto.com</a>
    </p>
  </footer>

</div>